<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.85, maximum-scale=0.85, user-scalable=0">
	<title>EMC DPO Manager</title>
	<link rel="stylesheet" type="text/css" href="{{ global.request.basepath }}/style.css">
	<link rel="stylesheet" type="text/css" href="{{ global.request.basepath }}/css/cs-select.css">
	<link rel="stylesheet" type="text/css" href="{{ global.request.basepath }}/css/cs-skin-underline.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
	{% block body %}{% endblock body %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="{{ global.request.basepath }}/main.js"></script>
	<script type="text/javascript" src="{{ global.request.basepath }}/js/classie.js"></script>
	<script type="text/javascript" src="{{ global.request.basepath }}/js/selectFx.js"></script>
	<script>
		(function() {
			[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
				new SelectFx(el, {newTab: false});
			} );
		})();
	</script>
</body>
</html>
