{% extends 'base.twig' %}

{% block body %}
<body class="blue-bg mobile-paleblue-bg">
<select class="cs-select cs-skin-underline">
    <option value="" disabled selected>{{ global.session.get('locale')|upper }}</option>
    {% for locale in LOCALES %}
        <option data-link="{{ path('setlocale', {'locale': locale}) }}" value="locale">{{ locale|upper }}</option>
    {% endfor %}
</select>
<a href="{{ path('show_key', {key: global.request.get('key')}) }}">
    <div class="btn-back btn-back-panel white upper"><i class="material-icons">keyboard_backspace</i> {{ 'global.back'|trans }}</div>
</a>

<div class="one-column white">
    <div class="mobile-bg">
        <div class="blue-overlay"></div>
        <div class="blur-overlay">
            {% if key.data[PHOTO] is defined %}
                <img src="{{ key.data[PHOTO] }}">
            {% endif %}
        </div>
        <div class="gradient-overlay-blue"></div>
    </div>
    <h2 class="header-wide">{{ key.data[ITEM] ?? 'No name' }}</h2>

    <p class="align-left">{{ 'comment.head'|trans }}</p>

    <form id="form-activate" novalidate autocomplete="off" enctype="application/x-www-form-urlencoded"
          action="{{ path('comment', {key: global.request.get('key') }) }}" method="post">
        <div class="txt-input txt-white">
            <input type="password" name="password" required>
            <span class="bar"></span>
            <label class="upper">{{ 'comment.form.your_password.label'|trans }}</label>
            <i class="hide-pwd material-icons">visibility_off</i>
        </div>
        <div class="txt-input txt-white">
            <input type="text" name="comment" required>
            <span class="bar"></span>
            <label class="upper">{{ 'comment.form.your_comment.label'|trans }}</label>
        </div>
        <input class="btn btn-white-blue upper" type="submit" value="{{ 'global.save'|trans }}">
    </form>
</div>
{% endblock %}
