{% extends 'base.twig' %}

{% block body %}
<body class="yellow-bg">
    <select class="cs-select cs-skin-underline">
        <option value="" disabled selected>{{ global.session.get('locale')|upper }}</option>
        <option data-link="{{ path('setlocale', {'locale': 'en'}) }}" value="en">EN</option>
        <option data-link="{{ path('setlocale', {'locale': 'ru'}) }}" value="ru">RU</option>
    </select>
	<div class="one-column">
		<div class="logo logo-black"></div>
		<h1 class="black upper">Emercoin</h1>
		<h3 class="black upper">{{ 'index.head.digital_proof_of_ownership'|trans }}</h3>
		<div class="error black">
			<h1><i class="material-icons">warning</i>{{ 'global.error'|trans }}</h1>
			<span>{{ error }}</span>
		</div>
		<form onsubmit="window.history.back();return false">
			<input class="btn btn-black-active upper" type="submit" value="{{ 'global.go_back'|trans }}">
		</form>
	</div>
{% endblock body %}
