{% extends 'base.twig' %}

{% block body %}
<body class="blue-bg">
<select class="cs-select cs-skin-underline">
    <option value="" disabled selected>{{ global.session.get('locale')|upper }}</option>
    {% for locale in LOCALES %}
        <option data-link="{{ path('setlocale', {'locale': locale}) }}" value="locale">{{ locale|upper }}</option>
    {% endfor %}
</select>
<a href="{{ path('show_key', {key: global.request.get('key')}) }}">
    <div class="btn-back btn-back-panel white upper">
        <i class="material-icons">keyboard_backspace</i>
        {{ 'global.back'|trans }}
    </div>
</a>

<div class="one-column white message">
    <h1><i class="material-icons">done</i> {{ 'global.success'|trans }}</h1>

    <p>{{ 'left_comment.line_one'|trans }}</p>

    <p>{{ 'left_comment.line_two'|trans }}</p>
    <a href="{{ path('show_key', {key: global.request.get('key')}) }}">
        <div class="btn btn-white-blue upper btn-back">{{ 'global.go_back'|trans }}</div>
    </a>
</div>
{% endblock %}

